---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include index.html %}

<h1 style="text-align:center"> Welcome </h1>

<p style="text-align:center;"> 
	I am Chester Cheng, a Hong kong based data scientist. My interests are mathematics, deep learning and quantum computing. 
	In this blog, you will find the following
</p>
<ul>
	<li> Summaries of deep learning topics, including research and applications</li>
	<li> Tutorials on statistics and mathematics</li>
	<li> My learning journey in all of the above fields and quantum computing</li>
</ul>
<p style="text-align:center; ">
	Some of this blog's content will also be available at my Medium <a href='https://medium.com/@chestercheng'> @chestercheng</a>, if you found the posts to be interesting, go and give me a clap.

	If you want to colloaborate on research, kaggle or whatever, feel free to shoot me an email at <a href='mailto:chester.ph.cheng@gmail.com'> chester.ph.cheng@gmail.com</a> ! <br /><br />

	Please enjoy the skyline of Hong Kong drawn by Van Gogh (Not).
</p>

<img src='assets/images/banner.jpg'>